<div class="footer-inner container-fluid">
						<div class="col-sm-6 text-center text-sm-end">
							<p class="mb-0"><i class="far fa-copyright"></i> <span id="copyright-year"></span> Valerio López José Eduardo, todos los derechos reservados.</p>
						</div>
				</div>