<div class="header-container container-fluid">
						<div class="header-wrap">
							<h4 class="header-brand">SiVeO</h4>
						</div>
						<i class="header-divider"></i>
						<div class="header-wrap">
							<h4 ><button class="btn btn-flat-primary btn-icon me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-todo">
								<div class="widget18-icon">
															<i class="far fa-user-circle"></i>
														</div>
							</button>José Valerio</h4>
						</div>
						<i class="header-divider"></i>
						<div class="header-wrap header-wrap-block justify-content-start">
							<!-- BEGIN Nav -->
							<ul class="nav nav-pills" data-toggle="header-nav">
								<li class="nav-item" data-toggle="header-tab">
									<a href="#" data-href="/index.html" class="nav-link">Dashboard</a>
								</li>
								<li class="nav-item" data-toggle="header-tab">
									<a href="#" data-href="/index.html" class="nav-link">Ventas</a>
								</li>
								<li class="nav-item" data-toggle="header-tab">
									<a href="#" data-href="/index.html" class="nav-link">Clientes</a>
								</li>
								<li class="nav-item" data-toggle="header-tab">
									<a href="#" data-href="/index.html" class="nav-link">Proveedores</a>
								</li>
								<li class="nav-item" data-toggle="header-tab">
									<a href="#" data-href="/index.html" class="nav-link">Factura</a>
								</li>
								<li class="nav-item" data-toggle="header-tab">
									<a href="#" data-href="/index.html" class="nav-link">Productos</a>
								</li>
								<li class="nav-item" data-toggle="header-tab">
									<a href="#" data-href="/index.html" class="nav-link">Categorías</a>
								</li>
								<li class="nav-item" data-toggle="header-tab">
									<a href="login-1" data-href="/index.html" class="nav-link">Salir</a>
								</li>
							</ul>
							<!-- END Nav -->
						</div>
					</div>
